@model UniversitySystem.Models.ViewModels.LoginViewModel
<div>
    <section id="loginForm">

        <form id="account" method="post" asp-action="Login" asp-controller="Account">
            <div class="illustration"><i class="icon ion-ios-locked-outline "></i></div>
            <div class="text-center"><h4>Login to your account</h4></div>
            <hr />
            <div asp-validation-summary="None" class="text-danger"></div>
            <div class="form-group row">
                <div class=" col-md-12">
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class=" col-md-12">
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">

                <div class="  checkbox">
                    <input asp-for="RememberMe" />
                    Remember me?
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="submit" value="Log in" class="btn btn-success btn-lg btn-block" />
                    <label>username: admin@gmail.com</label>
                    <hr />
                    <label>Password: Admin123*</label>
                </div>
            </div>
            <p class="">
                <a asp-action="Register">Sign Up</a>
            </p>

        </form>
    </section>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}