@model UniversitySystem.Models.Course

@{
    ViewData["Title"] = "Edit";
}

<partial name="_PortalPartial" />

<hr />
<div class="row  text-white">
    <div class="">
        <form asp-action="Edit" class="mt-lg-4">
            <h3>Edit Course Info</h3>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CourseName" />
            <input type="hidden" asp-for="CourseCode" />

            <div class="form-group">
                <label asp-for="CourseCode" class="control-label"></label>
                <input class="form-control" disabled value=@Model.CourseCode />
            </div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input class="form-control" disabled value=@Model.CourseName />

            </div>
            <div class="form-group">
                <label asp-for="CourseCredit" class="control-label"></label>
                <input asp-for="CourseCredit" class="form-control" />
                <span asp-validation-for="CourseCredit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseDescription" class="control-label"></label>
                <textarea asp-for="CourseDescription" class="form-control w" rows="5"></textarea>
                <span asp-validation-for="CourseDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CourseStatus" /> @Html.DisplayNameFor(model => model.CourseStatus)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SemesterId" class="control-label"></label>
                <select asp-for="SemesterId" class="form-control" asp-items="ViewBag.SemesterId"></select>
                <span asp-validation-for="SemesterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
